<div class="">
  <div class="">
    <h2>Idea</h2>
  </div>
  <div class="">
    <form action="/ideas" method="post">
      <div class="">
        <input type="text" name="title" placeholder='Title'>
      </div>
      <div class="">
        <textarea name="blurb" rows="8" placeholder='Blurb' cols="40"></textarea>
      </div>
      <div class="">
        <textarea name="success_metrics" placeholder='Success Metrics' rows="8" cols="40"></textarea>
      </div>
      <div class="">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
