<!--  Displays list of all ideas and rate action if rating enabled-->
<div class="">
  <div class="">
    <h2>Ideas !</h2>
  </div>
  <div class="">
    <table>
      <th>
        <td>#</td>
        <td>title</td>
        <td>blurb</td>
        <td>success metrics</td>
        <td>Rating</td>
        <tr>
        </tr>
      </th>
      <tr>
        <td>1</td>
        <td>idea 1</td>
        <td>blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb</td>
        <td>success metrics success metrics success metrics success metrics success metrics success metrics success metrics </td>
        <td>3</td>
      </tr>
      <tr>
        <td>2</td>
        <td>idea 2</td>
        <td>blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb</td>
        <td>success metrics success metrics success metrics success metrics success metrics success metrics success metrics </td>
        <td>2</td>
      </tr>
      <tr>
        <td>1</td>
        <td>idea 2</td>
        <td>blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb blurb</td>
        <td>success metrics success metrics success metrics success metrics success metrics success metrics success metrics </td>
        <td>5</td>
      </tr>
    </table>
  </div>
</div>
