<!--  Displays list of all ideas and rate action if rating enabled-->
<div class="">
  <div class="">
    <h2>Ideas !</h2>
  </div>
  <div class="">
    <table>
      <th>
        <!-- <td>#</td> -->
        <td>title</td>
        <td>blurb</td>
        <td>success metrics</td>
        <% if(stage == 'rate') { %>
          <td>Rating</td>
        <% } %>
        <% if(stage == 'filter') { %>
          <td>Rating</td>
          <td>Select</td>
        <% } %>
      </th>
      <% for (var i=0; i<idea.length ; i++) {%>
        <tr>
          <!-- <td><%= idea[i].id %></td> -->
          <td><%= idea[i].title %></td>
          <td><%= idea[i].blurb %></td>
          <td><%= idea[i].success_metric %></td>
          <% if(stage == 'rate') { %>
            <td>ajax form submit</td>
          <% } %>
        </tr>
      <% } %>
    </table>
  </div>
</div>
