<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center teal-text text-lighten-2"> Have an idea? </h1>
    <div class="row center">
      
      <!-- Form to register a project -->
      <form action="/ideas" method="post" class="col s12">
        <!-- Name -->
        <div class="row">
          <div class="input-field col s12">
            <input id="title" name="title" type="text" />
            <label for="title">Title</label>
          </div>
        </div>
    
        <!-- Blurb -->
        <div class="row">
          <div class="input-field col s12">
            <textarea id="blurb" name="blurb" class="materialize-textarea"></textarea>
            <label for="blurb">Project blurb (2 or 3 lines about your project)</label>
          </div>
        </div>

        <!-- Success metrics -->
        <div class="row">
          <div class="input-field col s12">
            <textarea id="success_metrics" name="success_metrics" class="materialize-textarea" rows="8" cols="40"></textarea>
            <label for="success_metrics">Success metrics</label>
          </div>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
      </form>
      
    </div>
  </div>
</div>
