extends ./layout.jade

block content
  div
    form(name='gather-stage1', method='post')
      div(class='form-group')
        label #{stage_one_field[0]}
        input(type='text', name='title', placeholder='')
      div(class='form-group')
        label #{stage_one_field[1]}
        textarea(name='blurb', placeholder='')
      div(class='form-group')
        label #{stage_one_field[2]}
        textarea(name='success_metrics', placeholder='')
      
      button(type="submit" class="btn btn-default") Submit
