<form action="/ideas" method="post">
  Title:<br>
  <input type="text" name="title" value="title">
  <br>
  Last name:<br>
  <input type="textarea" name="blurb" value="description"><br>
  Success Mertrics:<br>
  <input type="textarea" name="succcess_metrics" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
