<div class="uk-block uk-block-large uk-block-secondary">
  <div class="uk-container">
    what is this about ?
  </div>
  <div class="uk-container">
    <div class="uk-flex uk-flex-space-between">
      <div>Ideas</div>
      <div>Methods</div>
      <div>Milestones</div>
    </div>
  </div>
</div>
