<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h1 class="teal-text">UnWorkshop</h1>
    </div>
  </div>

  <div class="row">
    <!-- Ideas -->
    <div class="col s12 m4">
      <div class="card white">
        <div class="card-content teal white-text center-align">
          <span class="card-title">Ideas</span>
        </div>
        <div class="card-content">
          <p>About ideas</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <!-- Methods -->
    <div class="col s12 m4">
      <div class="card white">
        <div class="card-content teal white-text center-align">
          <span class="card-title">Methods</span>
        </div>
        <div class="card-content">
          <p>About methods</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <!-- Milestones -->
    <div class="col s12 m4">
      <div class="card white">
        <div class="card-content teal white-text center-align">
          <span class="card-title">Milestones</span>
        </div>
        <div class="card-content">
          <p>About milestones</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
</div>