extends ./layout.jade

block content
  p
    a(href="/methods/gather") Submit
  p
    a(href="/methods/rate") Rate    
  p 
    a(href="/methods/filter") Filter
  p
    a(href="/methods/result") Selected
