extends ./layout.jade

block content
  div
    form(name='gather-method', method='post')
      div(class='form-group')
        label #{stage_two_field[0]}
        input(type='text', name='title', placeholder='')
      div(class='form-group')
        label #{stage_two_field[1]}
        input(type='text', name='tool', placeholder='')
      div(class='form-group')
        label #{stage_two_field[2]}
        textarea(name='description', placeholder='')
      
      button(type="submit" class="btn btn-default") Submit
