<!--  Displays list of all ideas and rate action if rating enabled-->
<div class="">
  <div class="">
    <h2>Methods!</h2>
  </div>
  <div class="">
    <table>
      <th>
        <td>#</td>
        <td>label</td>
        <td>tool</td>
        <td>description</td>
        <td>rating</td>
      </th>
      <tr>
        <td>1</td>
        <td>language</td>
        <td>python</td>
        <td>data libraries</td>
        <td>3</td>
      </tr>
      <tr>
        <td>2</td>
        <td>language</td>
        <td>GO</td>
        <td>high concurrency</td>
        <td>1</td>
      </tr>
      <tr>
        <td>3</td>
        <td>devlepoment method</td>
        <td>agile</td>
        <td>quick and functional prototypes</td>
        <td>5</td>
      </tr>
    </table>
  </div>
</div>
