<!--  Displays list of all ideas and rate action if rating enabled-->
<div class="">
  <div class="">
    <h2>Methods - How would you do it ?</h2>
  </div>
  <div class="">
    <table>
      <th>
        <!-- <td>#</td> -->
        <td>label</td>
        <td>tool</td>
        <td>description</td>
        <% if(stage == 'rate') { %>
          <td>Rating</td>
        <% } %>
        <% if(stage == 'filter') { %>
          <td>Rating</td>
          <td>Select</td>
        <% } %>
      </th>
      <% for (var i=0; i<method.length ; i++) {%>
        <tr>
          <!-- <td><%= method[i].id %></td> -->
          <td><%= method[i].label %></td>
          <td><%= method[i].tool %></td>
          <td><%= method[i].description %></td>
          <% if(stage == 'rate') { %>
            <td>ajax form submit</td>
          <% } %>
        </tr>
      <% } %>
    </table>
  </div>
</div>
