extends ./layout.jade

block content
  div
    form(name='gather-milestone', method='post')
      div(class='form-group')
        label #{stage_three_field[0]}
        input(type='text', name='title', placeholder='')
      div(class='form-group')
        label #{stage_three_field[1]}
        textarea(name='description', placeholder='')
      
      button(type="submit" class="btn btn-default") Submit
