<div class="">
  <div class="">
    <h2>Have an idea?</h2>
  </div>
  <div class="">
    <form action="/milestones" method="post">
      <div class="">
        <input type="date" name="date" placeholder='Date'>
      </div>
      <div class="">
        <input type="text" name="milestone" placeholder='milestone'>
      </div>
      <div class="">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
</div>
