extends ./layout.jade

block content
  p
    a(href="/milestones/gather") Submit
  p
    a(href="/milestones/rate") Rate    
  p 
    a(href="/milestones/filter") Filter
  p
    a(href="/milestones/result") Selected
